[submodule "frontend"]
	path = frontend
	url = https://git.utec.edu.uy/CodigoCreativo/pft/frontend.git
[submodule "backend"]
	path = backend
	url = https://git.utec.edu.uy/CodigoCreativo/pft/backend.git
